SAMPLE_SPEC: non_mandatory_tour_destination_sample.csv
SPEC: non_mandatory_tour_destination.csv
COEFFICIENTS: non_mandatory_tour_destination_coefficients.csv

SAMPLE_SIZE: 30

SIZE_TERM_SELECTOR: non_mandatory

# we can't use use household income_segment as this will also be set for non-workers
CHOOSER_SEGMENT_COLUMN_NAME: tour_type

# optional (comment out if not desired)
DEST_CHOICE_LOGSUM_COLUMN_NAME: destination_logsum

# comment out DEST_CHOICE_LOGSUM_COLUMN_NAME if saved alt logsum table
DEST_CHOICE_SAMPLE_TABLE_NAME: tour_destination_sample
LOGSUM_SETTINGS: tour_mode_choice.yaml


SEGMENTS:
  - res_bus1
  - res_bus2
  - res_bus3
  - res_bus4
  - res_bus5
  - res_bus6
  - res_bus7
  - res_bus8
  - res_per1
  - res_per2
  - res_per3
  - res_per4
  - res_per5
  - res_per6
  - res_per7
  - res_per8
  - vis_bus
  - vis_per

SIMULATE_CHOOSER_COLUMNS:
  - person_id
  - direction
  - home_zone_id
  - purpose_id
  - tour_type
  - origin
  - destination
  - depart
  - start
  - intercept
  


# model-specific logsum-related settings
CHOOSER_ORIG_COL_NAME: home_zone_id
ALT_DEST_COL_NAME: alt_dest
IN_PERIOD:
  res_bus1: 14
  res_bus2: 14
  res_bus3: 14
  res_bus4: 14
  res_bus5: 14
  res_bus6: 14
  res_bus7: 14
  res_bus8: 14
  res_per1: 14
  res_per2: 14
  res_per3: 14
  res_per4: 14
  res_per5: 14
  res_per6: 14
  res_per7: 14
  res_per8: 14
  vis_bus: 14
  vis_per: 14
OUT_PERIOD:
  res_bus1: 14
  res_bus2: 14
  res_bus3: 14
  res_bus4: 14
  res_bus5: 14
  res_bus6: 14
  res_bus7: 14
  res_bus8: 14
  res_per1: 14
  res_per2: 14
  res_per3: 14
  res_per4: 14
  res_per5: 14
  res_per6: 14
  res_per7: 14
  res_per8: 14
  vis_bus: 14
  vis_per: 14

CONSTANTS:
  san: 1
  cbx: 0