*.class

# Package Files #
# *.jar
*.war
*.ear

# Eclipse #
.settings/
.project
.classpath

# Maven #
target/
/bin
.pydevproject
/target
sql/reporting/bin
*.rdl.data
src/main/python/.idea/
src/main/python/dbconfig.yml
.idea/
build/
dist/
src/main/python/pythonGUI/.idea/
src/main/python/pythonGUI/*.pyc
src/main/resources/build/
sql/ssis/abm_load/abm_load/bin/
sql/ssis/abm_load/abm_load/obj/
src/main/python/reporting/abm_reports*/*
*.suo
**/bin/**/*
*.user
*.pyc
src/main/resources/create_scenario.cmd.txt
src/main/resources/init_emme.cmd.txt
!**/GnuWin32/**/*

# Mac
.DS_Store
*.args
src/asim/configs_mp/settings.yaml
src/asim/simulation.py
src/asim/simulation.py
src/asim/configs_mp/settings.yaml
src/main/resources/pskill.exe

# VS Code
.vscode

src/asim-cvm/data/
src/asim-cvm/output/
src/asim-cvm/data/maz.csv
