SPEC: trip_mode_choice.csv
COEFFICIENTS: trip_mode_choice_coefficients.csv
COEFFICIENT_TEMPLATE: trip_mode_choice_coefficients_template.csv


LOGIT_TYPE: NL

NESTS:
  name: root
  coefficient: coef_nest_root
  alternatives:
      - name: PARK
        coefficient: coef_nest_PARK
        alternatives:
            - PARK_LOC1
            - PARK_LOC2
            - PARK_LOC3
            - PARK_LOC4
            - PARK_LOC5
      - name: PRK_ESCRT
        coefficient: coef_nest_PARK_ESCORT
        alternatives:
          - PARK_ESCORT
      - name: RNTL
        coefficient: coef_nest_RENTAL
        alternatives:
          - RENTAL
      - name: SHTTLVAN
        coefficient: coef_nest_SHUTTLEVAN
        alternatives:
          - SHUTTLEVAN
      - name: HOTEL_CRTSY
        coefficient: coef_nest_HOTEL_COURTESY
        alternatives:
          - HOTEL_COURTESY         
      - name: RIDEHAIL
        coefficient: coef_nest_RIDEHAIL
        alternatives:
          - RIDEHAIL_LOC1
          - RIDEHAIL_LOC2
          - TAXI_LOC1
          - TAXI_LOC2
      - name: TRANSIT
        coefficient:  coef_nest_TRANSIT
        alternatives:
            - name: WALKACCESS
              coefficient: coef_nest_TRANSIT_WALKACCESS
              alternatives:
              - WALK_LOC
              - WALK_PRM
              - WALK_MIX
            - name: KNRACCESS
              coefficient: coef_nest_TRANSIT_KNRACCESS
              alternatives:
              - KNR_LOC
              - KNR_PRM
              - KNR_MIX
            - name: TNCACCESS
              coefficient: coef_nest_TRANSIT_KNRACCESS
              alternatives:
              - TNC_LOC
              - TNC_PRM
              - TNC_MIX
      - name: CURB
        coefficient: coef_nest_CURB
        alternatives:
          - CURB_LOC1
          - CURB_LOC2
          - CURB_LOC3
          - CURB_LOC4
          - CURB_LOC5
      - name: WLK
        coefficient: coef_nest_WALK
        alternatives:
          - WALK
CONSTANTS:
  terminal: 1
  central_mobility_hub: 2
  nearest: 3
  terminalMgra: &terminalMgra 9350
  parkLocation1Mgra: *terminalMgra
  parkLocation2Mgra: -999
  parkLocation3Mgra: -999
  parkLocation4Mgra: -999
  parkLocation5Mgra: -999
  parkEscortLocationMgra: *terminalMgra
  rentalLocationMgra: *terminalMgra
  centralMobilityHubMgra: 0
  ridehailLocation1Mgra: *terminalMgra
  ridehailLocation2Mgra: -999
  transitMgra: *terminalMgra
  curbLocation1Mgra: *terminalMgra
  curbLocation2Mgra: -999
  curbLocation3Mgra: -999
  curbLocation4Mgra: -999
  curbLocation5Mgra: -999
  shuttleVanLocation: *terminalMgra
  hotelCourtesyLocation: *terminalMgra
  orig_col_name: origin
  dest_col_name: destination
  costShareSr2: 1.75
  costShareSr3: 2.50
  waitThresh: 10.00
  walkThresh: 1.00
  shortWalk: 0.333
  longWalk: 0.667
  walkSpeed: 3.00
  bikeThresh: 6.00
  bikeSpeed: 12.00
  parkLocation1AccessCost: 0.00
  parkLocation1CostDay: 21.00
  parkLocation1InVehicleTime: 0.00
  parkLocation1WalkTime: 5.00
  parkLocation1WaitTime: 0.00
  parkLocation2AccessCost: 0.00
  parkLocation2CostDay: 14.00
  parkLocation2InVehicleTime: 7.00
  parkLocation2WalkTime: 2.00
  parkLocation2WaitTime: 5.00
  parkLocation3AccessCost: 0.00
  parkLocation3CostDay: 12.00
  parkLocation3InVehicleTime: 10.00
  parkLocation3WalkTime: 2.00
  parkLocation3WaitTime: 5.00
  parkLocation4AccessCost: 0.00
  parkLocation4CostDay: 0
  parkLocation4InVehicleTime: -999
  parkLocation4WalkTime: 0
  parkLocation4WaitTime: 0
  parkLocation5AccessCost: 0.00
  parkLocation5CostDay: 0
  parkLocation5InVehicleTime: -999
  parkLocation5WalkTime: 0
  parkLocation5WaitTime: 0
  parkEscortAccessCost: 0.00
  parkEscortCostHour: 4.00
  parkEscortInVehicleTime: 0.00
  parkEscortWalkTime: 10.00
  parkEscortWaitTime: 0.00
  rentalCarAccessCost: 0.00
  rentalCostPerDay: 40.00
  rentalCarInVehicleTime: 7.50
  rentalCarWalkTime: 3.00
  rentalCarWaitTime: 7.50
  terminalAccessCost: 0.00
  terminalInVehicleTime: 0.00
  terminalWalkTime: 5.00
  terminalWaitTime: 0.00
  centralMobilityHubAccessCost: 0.00
  centralMobilityHubInVehicleTime: 0.00
  centralMobilityHubWalkTime: 0.00
  centralMobilityHubWaitTime: 0.00
  ridehailWaitTime: 2.00
  ridehailLocation1AccessCost: 0.00
  ridehailLocation1AccessWalkTime: 0.00
  ridehailLocation1AccessWaitTime: 0.00
  ridehailLocation1AccessTime: 0.00
  ridehailLocation2AccessCost: 0.00
  ridehailLocation2AccessWalkTime: -999.00
  ridehailLocation2AccessWaitTime: -999.00
  ridehailLocation2AccessTime: -999.00
  taxi_available: 1
  taxiWaitTime:  1.00
  taxiLocation1AccessCost:  0.00
  taxiLocation1AccessWalkTime:  0.00
  taxiLocation1AccessWaitTime:  0.00
  taxiLocation1AccessTime:  0.00
  taxiLocation2AccessCost: 0.00
  taxiLocation2AccessWalkTime: -999.00
  taxiLocation2AccessWaitTime: -999.00
  taxiLocation2AccessTime: -999.00  
  curbLocation1AccessCost: 0.00
  curbLocation1InVehicleTime: 0.00
  curbLocation1WalkTime: 0.00
  curbLocation1WaitTime: 0.00
  curbLocation2AccessCost: 0.00
  curbLocation2InVehicleTime: -999.00
  curbLocation2WalkTime: -999.00
  curbLocation2WaitTime: -999.00
  curbLocation3AccessCost: 0.00
  curbLocation3InVehicleTime: -999.00
  curbLocation3WalkTime: -999.00
  curbLocation3WaitTime: -999.00
  curbLocation4AccessCost: 0.00
  curbLocation4InVehicleTime: -999.00
  curbLocation4WalkTime: -999.00
  curbLocation4WaitTime: -999.00
  curbLocation5AccessCost: 0.00
  curbLocation5InVehicleTime: -999.00
  curbLocation5WalkTime: -999.00
  curbLocation5WaitTime: -999.00
  parkingLocation1Available: 1.00
  parkingLocation2Available: 0.00
  parkingLocation3Available: 0.00
  parkingLocation4Available: 1.00
  parkingLocation5Available: 1.00
  parkAndEscortAvailable: 1.00
  rentalCarAvailable: 1.00
  shuttleVanAvailable: 1.00
  hotelCourtseyAvailable: 0.00
  hotelCourtesyWalkTime: 0.00
  ridehailLocation1Available: 1.00
  ridehailLocation2Available: 0.00
  curbsideLocation1Available: 1.00
  curbsideLocation2Available: 0.00
  curbsideLocation3Available: 0.00
  curbsideLocation4Available: 0.00
  curbsideLocation5Available: 0.00
  parkingLocation1ReadTransitLogsum: 0.00
  parkingLocation2ReadTransitLogsum: 0.00
  parkingLocation3ReadTransitLogsum: 0.00
  parkingLocation4ReadTransitLogsum: 0.00
  parkingLocation5ReadTransitLogsum: 0.00
  parkAndEscortReadTransitLogsum: 0.00
  rentalCarReadTransitLogsum: 1.00
  centralMobilityHubReadTransitLogsum: 1.00
  ridehailLocation1ReadTransitLogsum: 0.00
  ridehailLocation2ReadTransitLogsum: 0.00
  curbsideLocation1ReadTransitLogsum: 0.00
  curbsideLocation2ReadTransitLogsum: 0.00
  curbsideLocation3ReadTransitLogsum: 0.00
  curbsideLocation4ReadTransitLogsum: 0.00
  curbsideLocation5ReadTransitLogsum: 0.00
  
  I_SOV_MODES: [1, 2]
  I_SR2_MODES: [3, 4]
  I_SR3P_MODES: [5, 6]
  I_AUTO_MODES: [1, 2, 3, 4, 5, 6]
  I_WALK_MODE: 7
  I_BIKE_MODE: 8
  I_WALK_TRANSIT_MODES: [9, 10, 11, 12, 13]
  I_DRIVE_TRANSIT_MODES: [14, 15, 16, 17, 18]
  I_RIDE_HAIL_MODES: [19, 20, 21]
  min_waitTime: 0
  max_waitTime: 50
  topology_bike_multiplier: 20
  topology_trn_multiplier: 2.20
  topology_walk_multiplier: 15
  ridehail_wait_time_multiplier: 1.5
  walktimelong_multiplier: 5
  biketimelong_multiplier: 5
  xfers_wlk_multiplier: 5
  xfers_drv_multiplier: 15
  dacc_ratio_multiplier: 0
  density_index_multiplier: -5
  origin_density_index_multiplier: -15
  origin_density_index_max: -15
  ivt_com_multiplier: 0.80
  ivt_exp_multiplier: -0.0175
  ivt_hvy_multiplier: 0.80
  cost_share_s2: 2
  cost_share_s3: 3
  vot_threshold_low: 8.81
  vot_threshold_med: 18.00
  max_walk_time: 60
  eaperiod: 11
  amperiod: 17
  mdperiod: 30
  pmperiod: 37
  evperiod: 48
  c_walk: 1.7
  c_drive: 1.5
  c_fwt: 1.5
  c_xwt: 2
  c_waux: 2.5
  ivt_lrt_multiplier: 0.85
  # ivt_brt_multiplier: 0.95
  ivt_cmr_multiplier: 0.85
  ivt_ltd_multiplier: 1.0
  ivt_cost_multiplier: 0.6
  

# so far, we can use the same spec as for non-joint tours
preprocessor:
  SPEC: trip_mode_choice_annotate_trips_preprocessor
  DF: df
  TABLES:
    - land_use
    - tours

CHOOSER_COLS_TO_KEEP:
  - vot1
  - vot2
  - vot3
  - partySizeRideHailLocation1AutoIVT
  - partySizeRideHailLocation1AutoDist
  - partySizeRideHailLocation2AutoIVT
  - partySizeRideHailLocation2AutoDist
  - nights

annotate_trips:
  SPEC: trip_mode_choice_annotate_trips
  DF: trips_merged
  TABLES:
    - tours
    - land_use

# to reduce memory needs filter chooser table to these fields
TOURS_MERGED_CHOOSER_COLUMNS:
  - hhsize
  - age
  - num_adults
  - auto_ownership
  - number_of_participants
  - tour_category
  - parent_tour_id
  - tour_type
  - purpose_id
  - income
  - nights
  - tour_mode
  - mode_segment
  - direction
  - emp_trip_mode
  - party_size

MODE_CHOICE_LOGSUM_COLUMN_NAME: mode_choice_logsum
