LOGIT_TYPE: NL

NESTS:
  name: root
  coefficient: coef_nest_root
  alternatives:
      - name: AUTO
        coefficient: coef_nest_AUTO
        alternatives:
            - DRIVEALONE
            - SHARED2
            - SHARED3
      - name: NONMOTORIZED
        coefficient: coef_nest_NONMOTORIZED
        alternatives:
          - WALK
          - BIKE
      - name: TRANSIT
        coefficient: coef_nest_TRANSIT
        alternatives:
          - WALK_LOC
          - WALK_PRM
          - WALK_MIX
#          - PNR_TRANSIT
#          - KNR_TRANSIT
#          - TNC_TRANSIT
      - name: RIDEHAIL
        coefficient: coef_nest_RIDEHAIL
        alternatives:
          - TAXI
          - TNC_SINGLE
          - TNC_SHARED

SPEC: tour_mode_choice.csv
COEFFICIENTS: tour_mode_choice_coefficients.csv
COEFFICIENT_TEMPLATE: tour_mode_choice_coefficients_template.csv

CONSTANTS:
    orig_col_name: origin
    dest_col_name: destination

# so far, we can use the same spec as for non-joint tours
preprocessor:
  SPEC: tour_mode_choice_annotate_choosers_preprocessor
  DF: choosers
  TABLES:
    - land_use
    - tours

# to reduce memory needs filter chooser table to these fields
LOGSUM_CHOOSER_COLUMNS:
  - person_id  
  - demographic_segment

CHOICE_COL_NAME: tour_mode
MODE_CHOICE_LOGSUM_COLUMN_NAME: mode_choice_logsum
COMPUTE_TRIP_MODE_CHOICE_LOGSUMS: False

