## ActivitySim
## See full license in LICENSE.txt.

SanYsidro_maz_id: 9279
OtayMesa_maz_id: 9387
Tecate_maz_id: 22324
OtayMesaEast_maz_id: 7123

scenarioYear: 2022

walkSpeed: 3.00

# convenience for expression files
HHT_NONFAMILY: [4, 5, 6, 7]
HHT_FAMILY: [1, 2, 3]

PSTUDENT_GRADE_OR_HIGH: 1
PSTUDENT_UNIVERSITY: 2
PSTUDENT_NOT: 3

GRADE_SCHOOL_MAX_AGE: 14
GRADE_SCHOOL_MIN_AGE: 5

SCHOOL_SEGMENT_NONE: 0
SCHOOL_SEGMENT_GRADE: 1
SCHOOL_SEGMENT_HIGH: 2
SCHOOL_SEGMENT_UNIV: 3

PEMPLOY_FULL: 1
PEMPLOY_PART: 2
PEMPLOY_NOT: 3
PEMPLOY_CHILD: 4

PTYPE_FULL: &ptype_full 1
PTYPE_PART: &ptype_part 2
PTYPE_UNIVERSITY: &ptype_university 3
PTYPE_NONWORK: &ptype_nonwork 4
PTYPE_RETIRED: &ptype_retired 5
PTYPE_DRIVING: &ptype_driving 6
PTYPE_SCHOOL: &ptype_school 7
PTYPE_PRESCHOOL:  &ptype_preschool 8

CDAP_ACTIVITY_MANDATORY: M
CDAP_ACTIVITY_NONMANDATORY: N
CDAP_ACTIVITY_HOME: H

# SHARED2 and SHARED3 Occupancies
OCC_SHARED2: 2.0
OCC_SHARED3: 3.33
# add TNC and Taxi Occupancies
OCC_TAXI: 1.1
OCC_TNC_SINGLE: 1.2
OCC_TNC_SHARED: 2.0

# Trip Mode Choice
cost_share_s2: 2
cost_share_s3: 3
vot_threshold_low: 8.81
vot_threshold_med: 18.00
trip_c_ivt_base: -0.021
trip_c_cost: -0.0003
trip_c_ivt: -0.03

cost_per_mile_fuel: 22
cost_per_mile_maint: 10.5
taxi_base_fare: 3
taxi_cost_per_mile: 3.3
taxi_cost_per_minute: 0.46
tnc_single_base_fare: 3.31
tnc_single_cost_per_mile: 0.96
tnc_single_cost_per_minute: 0.33
tnc_single_cost_minimum: 9.19
tnc_shared_base_fare: 1.66
tnc_shared_cost_per_mile: 0.48
tnc_shared_cost_per_minute: 0.16
tnc_shared_cost_minimum: 4.6

ivt_lrt_multiplier: 0.85
ivt_brt_multiplier: 0.90
ivt_cmr_multiplier: 0.85
ivt_ltd_multiplier: 1.0
ivt_cost_multiplier: 0.6

# Microtransit and NEV constants
microtransitSpeed: 30
microtransitCost: 125 #cents
microtransitWaitTime: 12
microtransitMaxDist: 4.5
microtransitDiversionConstant: 6
microtransitDiversionFactor: 1.25
microtransitStartPeriod: 9
microtransitEndPeriod: 32
nevSpeed: 17
nevCost: 125 #cents
nevWaitTime: 12
nevMaxDist: 3
nevDwellMinutesPerMile: 0.5
nevDiversionConstant: 6
nevDiversionFactor: 1.25
nevStartPeriod: 9
nevEndPeriod: 38
maxWalkIfMTAccessAvailable: 0.5 # Maximum distance to walk to premium transit if microtransit access is available