SPEC: trip_mode_choice.csv
COEFFICIENTS: trip_mode_choice_coefficients.csv
COEFFICIENT_TEMPLATE: trip_mode_choice_coefficients_template.csv

LOGIT_TYPE: NL

NESTS:
  name: root
  coefficient: 1.00
  alternatives:
      - name: AUTO
        coefficient: 0.50
        alternatives:
            - DRIVEALONE
            - SHARED2
            - SHARED3
      - name: NONMOTORIZED
        coefficient: 0.50
        alternatives:
          - WALK
      - name: TRANSIT
        coefficient:  0.50
        alternatives:
          - WALK_LOC
          - WALK_PRM
          - WALK_MIX
      - name: RIDEHAIL
        coefficient: 0.50
        alternatives:
          - TAXI
          - TNC_SINGLE
          - TNC_SHARED

CONSTANTS:
  orig_col_name: origin
  dest_col_name: destination
  PERIODS_PER_HOUR: 2
  time_distrib_mean_work: 1.0
  time_distrib_stddev_work: 0.7
  time_distrib_mean_nonwork: 1.0
  time_distrib_stddev_nonwork: 0.6
  work_dist_coef: -8.6
  other_dist_coef: -4.9
  vot_bin_idx_to_skim_label:
    1: L
    2: M
    3: H
  max_walk_time: 60
  walkSpeed: 3.0
  tnc_shared_ivt_factor: 1.25
  tnc_single_wait_time_mean_by_density:
    1: 10.3
    2: 8.5
    3: 8.4
    4: 6.3
    5: 4.7
  tnc_single_wait_time_sd_by_density:
    1: 4.1
    2: 4.1
    3: 4.1
    4: 4.1
    5: 4.1
  tnc_shared_wait_time_mean_by_density:
    1: 15.0
    2: 15.0
    3: 11.0
    4: 8.0
    5: 7.0
  tnc_shared_wait_time_sd_by_density:
    1: 4.1
    2: 4.1
    3: 4.1
    4: 4.1
    5: 4.1
  taxi_wait_time_mean_by_density:
    1: 26.5
    2: 17.3
    3: 13.3
    4: 9.5
    5: 5.5
  taxi_wait_time_sd_by_density:
    1: 6.4
    2: 6.4
    3: 6.4
    4: 6.4
    5: 6.4
  wait_time_distribution_by_density_breaks:
    - 500
    - 2000
    - 5000
    - 15000
  # From old tvpb - uncomment only as needed
  #c_ivt: -0.03
  #c_cost: -0.0003
  # coeffs used in maz_tap and tap_tap utility expressions
  c_walk: 1.7
  c_fwt: 1.5
  c_waux: 2.5
  c_xwt: 2
  C_UNAVAILABLE: -9999
  # alternative-specific constants
  exp_asc: 10  # express bus asc
  brt_asc: -10  # BRT asc
  lrt_asc: -20  # LRT alternative-specific constant
  cr_asc: 0.00  # Commuter Rail alternative-specific constant


# so far, we can use the same spec as for non-joint tours
preprocessor:
  SPEC: trip_mode_choice_annotate_trips_preprocessor
  DF: df
  TABLES:
    - land_use
    - tours
  
annotate_trips:
  SPEC: trip_mode_choice_annotate_trips
  DF: trips_merged
  TABLES:
    - tours
    - land_use

# to reduce memory needs filter chooser table to these fields
TOURS_MERGED_CHOOSER_COLUMNS:
  - tour_type
  - tour_mode
  - stop_frequency
  - demographic_segment
  - duration
  - pass_type
  - work_time_factor
  - non_work_time_factor
  - number_of_participants


MODE_CHOICE_LOGSUM_COLUMN_NAME: trip_mode_choice_logsum

CHOOSER_COLS_TO_KEEP:
  - parking_cost
  - cost_per_mile
  - tnc_single_wait_time
  - tnc_shared_wait_time
  - taxi_wait_time
  - da_dist_skims
  - s2_dist_skims
  - s2_time_skims
  - s2_cost_skims
  - s3_time_skims
  - s3_dist_skims
  - s3_cost_skims
  - microtransit_orig
  - microtransit_dest
  - microtransit_operating
  - microtransit_available
  - microtransit_time
  - nev_orig
  - nev_dest
  - nev_operating
  - nev_available
  - nev_time
  - microtransit_local_egress_available_out
  - microtransit_prm_egress_available_out
  - microtransit_mix_egress_available_out
  - nev_local_egress_available_out
  - nev_prm_egress_available_out
  - nev_mix_egress_available_out
  - microtransit_local_access_available_in
  - microtransit_prm_access_available_in
  - microtransit_mix_access_available_in
  - nev_local_access_available_in
  - nev_prm_access_available_in
  - nev_mix_access_available_in
  - microtransit_local_egress_time_out
  - microtransit_prm_egress_time_out
  - microtransit_mix_egress_time_out
  - nev_local_egress_time_out
  - nev_prm_egress_time_out
  - nev_mix_egress_time_out
  - microtransit_local_access_time_in
  - microtransit_prm_access_time_in
  - microtransit_mix_access_time_in
  - nev_local_access_time_in
  - nev_prm_access_time_in
  - nev_mix_access_time_in