SPEC: trip_mode_choice.csv
COEFFICIENTS: trip_mode_choice_coefficients.csv
COEFFICIENT_TEMPLATE: trip_mode_choice_coefficients_template.csv

LOGIT_TYPE: NL

NESTS:
  name: root
  coefficient: coef_nest_root
  alternatives:
      - name: AUTO
        coefficient: coef_nest_AUTO
        alternatives:
            - DRIVEALONE
            - SHARED2
            - SHARED3
      - name: NONMOTORIZED
        coefficient: coef_nest_NONMOTORIZED
        alternatives:
          - WALK
          - BIKE
      - name: MICROMOBILITY
        coefficient: coef_nest_MICROMOBILITY
        alternatives:
          - EBIKE
          - ESCOOTER
      - name: TRANSIT
        coefficient: coef_nest_TRANSIT
        alternatives:
           - name: WALKACCESS
             coefficient: coef_nest_TRANSIT_WALKACCESS
             alternatives:
             - WALK_LOC
             - WALK_PRM
             - WALK_MIX
           - name: PNRACCESS
             coefficient: coef_nest_TRANSIT_PNRACCESS
             alternatives:
             - PNR_LOC
             - PNR_PRM
             - PNR_MIX
           - name: KNRACCESS
             coefficient: coef_nest_TRANSIT_KNRACCESS
             alternatives:
             - KNR_LOC
             - KNR_PRM
             - KNR_MIX
           - name: TNCACCESS
             coefficient: coef_nest_TRANSIT_TNCACCESS
             alternatives:
             - TNC_LOC
             - TNC_PRM
             - TNC_MIX
      - name: RIDEHAIL
        coefficient: coef_nest_RIDEHAIL
        alternatives:
          - TAXI
          - TNC_SINGLE
          - TNC_SHARED
      - name: SCHOOL_BUS
        coefficient: coef_nest_SCHOOL_BUS
        alternatives:
          - SCH_BUS

CONSTANTS:
  orig_col_name: origin
  dest_col_name: destination


# so far, we can use the same spec as for non-joint tours
preprocessor:
  SPEC: trip_mode_choice_annotate_trips_preprocessor
  DF: df
  TABLES:
    - land_use
    - tours
    - vehicles
    - households
    - persons

annotate_trips:
  SPEC: trip_mode_choice_annotate_trips
  DF: trips_merged
  TABLES:
    - tours
    - land_use

# to reduce memory needs filter chooser table to these fields
TOURS_MERGED_CHOOSER_COLUMNS:
  - hhsize
  - age
  - num_adults
  - auto_ownership
  - number_of_participants
  - tour_category
  - parent_tour_id
  - tour_mode
  - duration
  - tour_type
  - free_parking_at_work
  - income_segment
  - income
  - sex
  - time_factor_work
  - time_factor_nonwork
  - transponder_ownership
  - ptype
  - ebike_owner
  - start
  - end
  - transit_pass_subsidy
  - transit_pass_ownership

MODE_CHOICE_LOGSUM_COLUMN_NAME: mode_choice_logsum

CHOOSER_COLS_TO_KEEP:
  - vot_da
  - vot_s2
  - vot_s3
  - ownsTransponder
  - parkingCost
  - origTaxiWaitTime
  - origSingleTNCWaitTime
  - origSharedTNCWaitTime
  - s2_time_skims
  - s2_dist_skims
  - s2_cost_skims
  - s3_time_skims
  - s3_dist_skims
  - s3_cost_skims
  - microtransit_orig
  - microtransit_dest
  - microtransit_operating
  - microtransit_available
  - nev_orig
  - nev_dest
  - nev_operating
  - nev_available
  - microtransit_mix_access_available_out
  - nev_mix_access_available_out
  - microtransit_mix_egress_available_out
  - nev_mix_egress_available_out
  - microtransit_mix_access_available_in
  - nev_mix_access_available_in
  - microtransit_mix_egress_available_in
  - nev_mix_egress_available_in