# vehicle_type_choice.yaml

SPEC: vehicle_type_choice_op4.csv
COEFFICIENTS: vehicle_type_choice_op4_coefficients.csv
ALTS: vehicle_type_choice_op4_alternatives.csv

# SPEC: vehicle_type_choice_op2.csv
# COEFFICIENTS: vehicle_type_choice_op2_coefficients.csv
# ALTS: vehicle_type_choice_op2_alternatives.csv
# # probs must have body_type and vehicle_year columns
# # probs spec has vehicle age calculated from FLEET_YEAR
# PROBS_SPEC: vehicle_type_choice_op2_fuel_type_probs.csv

LOGIT_TYPE: MNL

# options: simple_simulate or interaction_simulate
# if interaction_simulate, will build alteratives from combinatorial_alts below
# if simple_simulate, alternatives need to be specified in the columns of the model spec
SIMULATION_TYPE: interaction_simulate

# additional vehicle_type_data merged to the alternatives for use in utility expressions
# need to have columns body_type, fuel_type, and vehicle_year
# entries in the data need to match the combinations in combinatorial_alts below
# VEHICLE_TYPE_DATA_FILE: vehicle_type_data.csv
VEHICLE_TYPE_DATA_FILE: vehicle_type_data_extended.csv

REQUIRE_DATA_FOR_ALL_ALTS: False

# age is computed as (1 + FLEET_YEAR - vehicle_year)
# FLEET_YEAR: 2017
FLEET_YEAR: 2022

# if PROBS_SPEC is supplied, auto operating cost will not be
#  merged until after a fuel type is selected
COLS_TO_INCLUDE_IN_VEHICLE_TABLE:
  - auto_operating_cost
  - Range
  - MPG
  - vehicle_year

# If PROBS_SPEC is supplied, fuel_type will be ignored
combinatorial_alts:
  body_type:
    - Car
    - Car-AV
    - Van
    - Van-AV
    - SUV
    - SUV-AV
    - Pickup
    - Pickup-AV
    - Motorcycle
  age:
    - 1
    - 2
    - 3
    - 4
    - 5
    - 6
    - 7
    - 8
    - 9
    - 10
    - 11
    - 12
    - 13
    - 14
    - 15
    - 16
    - 17
    - 18
    - 19
    - 20
  fuel_type:
    - Gas
    - Diesel
    - Hybrid
    - PEV
    - BEV

# will write out the created vehicle_type_model_alternatives.csv file
#  to the base configs directory. Helpful for debugging alternaties.
WRITE_OUT_ALTS_FILE: False

preprocessor:
  SPEC: vehicle_type_choice_annotate_choosers_preprocessor
  DF: choosers
  TABLES:
    - land_use
    - vehicles
    - persons
    - households

alts_preprocessor:
  SPEC: vehicle_type_choice_annotate_alts_preprocessor
  DF: alts_wide

COLS_TO_INCLUDE_IN_ALTERNATIVES_TABLE:
  - age
  - fuel_type_num_coded
  - body_type_num_coded
  - Range
  - MPG
  - is_av
  - logged_models
  - logged_makes
  - logged_chargers_per_capita
  - SAN

# annotate_persons:
#   SPEC: annotate_persons_vehicle_type
#   DF: persons
#   TABLES:
#     - vehicles
#
annotate_households:
  SPEC: annotate_households_vehicle_type
  DF: households
  TABLES:
    - vehicles
#
# annotate_vehicles:
#   SPEC: annotate_vehicles_vehicle_type
#   DF: vehicles
#   TABLES:

CONSTANTS:
  # calculated using charger count / population
  CHARGERS_PER_CAP: 0.00034592
  # chargers per cap used in vehicle type model estimation
  # CHARGERS_PER_CAP: 0.000721205
  scenarioYear: 2022
  chargerSensitivityDecayFactor: {policy-EV-chargerSensitivityDecayFactor:}
