LOGIT_TYPE: NL

NESTS:
  name: root
  coefficient: 1
  alternatives:
    - DRIVEALONE
    - SHARED2
    - SHARED3
    - WALK
    - BIKE
    - WALK_TRANSIT
    - TAXI
    - TNC_SINGLE
    - TNC_SHARED

SPEC: tour_mode_choice.csv
COEFFICIENTS: tour_mode_choice_coefficients.csv
COEFFICIENT_TEMPLATE: tour_mode_choice_coefficients_template.csv

LOGSUM_CHOOSER_COLUMNS:
  - person_id  

MODE_CHOICE_LOGSUM_COLUMN_NAME: mode_choice_logsum
COMPUTE_TRIP_MODE_CHOICE_LOGSUMS: False

preprocessor:
  SPEC: tour_mode_choice_annotate_choosers_preprocessor
  DF: choosers
  TABLES:
    - land_use
    - tours
